.container {
  min-height: 90vh;
  width: 80vw;
  margin: 75px auto 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}
p {
  height: 20px;
  margin-bottom: 10px;
}
p:hover {
  cursor: pointer;
}

.header {
  width: 100%;
  position: absolute;
  top: 25px;
  display: flex;
  justify-content: center;
}

@media (max-width: 380px) {
  .header {
    width: 80%;
  }
}

.pokemon__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-icon:hover {
  cursor: pointer;
}