.container {
  min-height: 90vh;
  width: 80vw;
  margin: 75px auto 0 auto;

  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  border-radius: 10px;
}

.autoComplete {
  display: flex;
  justify-content: center;
  width: 49%;
}

.checkbox {
  font-size: 13px;
  /* border: 1px solid red; */
  display: flex;
  width: 50%;
  align-items:flex-start;
  flex-wrap: wrap;
}

p {
  height: 20px;
  margin-bottom: 10px;
}

p:hover {
  cursor: pointer;
}

.header {
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 750px) {
  .header {
    width: 100%;
  }
  .autoComplete {
    width: 100%;
  }
  .checkbox {
    width: 100%;
  }
}

.pokemon__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-icon:hover {
  cursor: pointer;
}